@media only screen and (max-width: 768px) {
    .mobilemenucontainer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      display: flex;
      justify-content: center;
      padding: 10px;
      z-index: 100;
    }
    
    .mobilemenulink:hover {
      border-radius: 10px;
      padding: 5px;
      background-color: #ffffff1b;
      text-decoration: none;
    }
  
    .mobilemenulink {
      padding: 5px;
      display: grid;
      flex-direction: column;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      text-align: center;
      margin: 0 5px;
    }
  
    .img {
      margin: 0 10px;
    }
    
    .raz {
      color: #636363;
      margin: 20px 0;
    }
  }
  