.slider {
  margin-top: 25px;
  position: relative;
  width: 100%;
  height: 810px; /* Вы можете изменить высоту по своему усмотрению */
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.image.active {
  opacity: 1;
}

.textContainer {
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  font-size: 26px;
  font-family: 'Russo One';
  word-wrap: break-word; /* или overflow-wrap: break-word; */
}

.button {
  margin-top: 50px;
  padding: 15px 35px;
  border: none;
  border-radius: 15px;
  background: #8D402C;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Russo One';
  text-decoration: none;
  color: #ffffff;
}

.button:hover {
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    background: #6D3B2D;
    font-family: 'Russo One';
    text-decoration: none;
    color: #ddd;
  
}

@media (max-width: 768px) {
  .slider {
    margin-top: -10px;
    height: 400px; /* Измените высоту для мобильных устройств */
    display: flex;
  }

  .textContainer {
    left: 5%;
    font-size: 14px;
  }

  .button {

     padding: 10px 50px;
     font-size: 18px;
     text-align: center;
     align-items: center;
  }

}