.breadcrumbs {
    position: absolute;
}
.breadcrumbs a {
    color: #cccbcb; /* Цвет ссылок */
    text-decoration: none; /* Убрать подчёркивание */
    font-family: 'rubik';
    font-size: 16px;
  }
  
  .breadcrumbs a:hover {
    color: #8D402C;
  }
  
  .breadcrumbs span + span:before {
    content: ">"; /* Разделитель между крошками */
    padding: 0 8px; /* Отступы вокруг разделителя */
    color: #cccbcb;
    font-family: 'rubik';
  }

@media (max-width: 1200px) {
    .breadcrumbs {
        display: none;
    }
}

